<a href="https://colab.research.google.com/github/MaTheusSlv/PosGraduacaoMackenzie_CienciaDeDados/blob/main/PL_Python_2_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1>
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1>

# 2 Seleção e Organização de Dados com Pandas
Professores: *Diego Nogare* & *Rogério de Oliveira*

<br>
<br>

---

# Exercícios

Nos exercícios a seguir emprege a base de dados `titanic`.

Todos exercícios possuem várias soluções possíveis, mas não se preocupe com isso. A melhor solução é primeiro, a que funciona para você!

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from random import choices

titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

1. Qual a quantidade de linhas e colunas de `titanic`?

In [ ]:
print(f'A quantidade de linhas e colunas são respectivamente {np.shape(titanic)}') #Imprime [linhas, colunas] de titanic

A quantidade de linhas e colunas são respectivamente (891, 15)

2. Qual a idade do passageiro mais velho?

In [ ]:
mais_velho = titanic['age'].max() #Traz o valor máximo da coluna "Age" e guarda numa variável

print(f'O passageiro mais velho tinha {mais_velho} anos') #Imprime a variável

O passageiro mais velho tinha 80.0 anos

3. Qual a idade da sobrevivente feminina mais velha?

In [ ]:
mulheres_vivas = titanic[(titanic.sex == 'female') & (titanic.alive == 'yes')] #Filtra os dados e guarda na variável
mais_velha = mulheres_vivas['age'].max() #Traz o maior valor da coluna "Age" da variável guardada

print(f'A idade da sobrevivente feminina mais velha é {mais_velha} anos') #Imprime a variável

A idade da sobrevivente feminina mais velha é 63.0 anos

4. Qual o percentual de sobreviventes da primeira e terceira classes?

In [ ]:
totalclasse1 = titanic[(titanic.pclass == 1)].pclass.count() #Guarda a contagem de valores que são de 1° classe
sobreviventesclasse1 = titanic[(titanic.pclass == 1) & (titanic.alive == 'yes')].pclass.count() #Guarda a contagem de valores que são de pessoas vivas e da classe 1
totalclasse3 = titanic[(titanic.pclass == 3)].pclass.count() #Guarda a contagem de valores que são de 3° classe
sobreviventesclasse3 = titanic[(titanic.pclass == 3) & (titanic.alive == 'yes')].pclass.count() #Guarda a contagem de valores que são de pessoas vivas e da classe 3

primeira = ((sobreviventesclasse1 * 100) / totalclasse1)
terceira = ((sobreviventesclasse3 * 100) / totalclasse3) #Calcula-se a porcentagem de sobreviventes da classe 1 e 3 no total de cada classe

print(f'O percentual de sobreviventes da primeira classe foi de {primeira:,.2f}%')
print(f'O percentual de sobreviventes da terceira classe foi de {terceira:,.2f}%') #Imprime o resultado

O percentual de sobreviventes da primeira classe foi de 62.96%
O percentual de sobreviventes da terceira classe foi de 24.24%

5. Analise a média de idade dos passageiros por classe e sexo (sugestão: empregue groupby). Você pode notar que?

In [ ]:
analise = titanic.groupby(['pclass','sex'])['age'].agg(['mean']) #Agrupa os dados por pclass e sexo, calcula a média da coluna "Age" de seus valores e guarda na variável

print(analise) #Imprime o resultado da variável
print('É possível notar que a média de idade das passageiras é menor que a de passageiros em todas as classes')

                    mean
pclass sex
1      female  34.611765
       male    41.281386
2      female  28.722973
       male    30.740707
3      female  21.750000
       male    26.507589
É possível notar que a média de idade das passageiras é menor que a de passageiros em todas as classes